<section id="{{id}}">
  <div class="container">
    <div class="footer-cta">
      <div>
        <h3>{{#if titleHtml}}{{{titleHtml}}}{{else}}{{title}}{{/if}}</h3>
        <p>{{{copyHtml}}}</p>
      </div>
      <div class="cta-row">
        <a class="btn primary" href="{{primary.href}}">{{primary.label}}</a>
        <a class="btn secondary" href="{{secondary.href}}">{{secondary.label}}</a>
      </div>
    </div>
  </div>
</section>
